{% set form = toolbar.formView %}
{% form_theme form 'UmbrellaCoreBundle:Form:layout_no_label.html.twig' %}

<div class="datatable-toolbar js-umbrella-toolbar">
    <form class="js-umbrella-form form-inline"
          enctype="multipart/form-data"
          method="POST">

        {{ form_rest(form) }}

    </form>
</div>