{% set form = toolbar.formView %}

<div class="datatable-toolbar js-umbrella-toolbar">
    <form class="js-umbrella-form form-inline"
          enctype="multipart/form-data"
          method="POST">

        {{ form_rest(form) }}

    </form>
</div>