<div class="umbrella-toolbar js-umbrella-toolbar {{ class }}">
    <div class="col-md-12">
        {% block actions %}
            {% if actions %}
                <ul class="umbrella-actions">
                    {% for action in actions %}
                        <li>
                            {% include action.template %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}

        {% block form %}
            {% if form %}
                <form class="js-umbrella-form form-inline"
                      enctype="multipart/form-data"
                      method="POST">
                    {{ form_rest(form) }}
                </form>
            {% endif %}
        {% endblock %}

    </div>
</div>