$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

// vendor
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

@import "~select2/dist/css/select2.css";
@import "~toastr/build/toastr.css";
@import "~sweetalert2/dist/sweetalert2.css";

@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";
@import "~jquery-minicolors/jquery.minicolors.css";

@import "~datatables.net-bs/css/dataTables.bootstrap.css";
@import "~datatables.net-rowreorder-bs/css/rowReorder.bootstrap.css";
@import "~datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.css";

@import "./components/_toolbar.scss";

// layout

a[data-xhr-href] {
  cursor: pointer;
}

.input-group-btn .btn {
  height: 34px;
}

input.form-control.readonly {
  pointer-events: none;
}

.help-btn {
  font-size: 25px;
  cursor: pointer;
}

.popover {
  max-width: 350px;
}