<div class="node-content">

    {% block collapse %}
        {% if tree.collapsable %}
            <div class="js-collapse-handle collapse-handle">
                <i class="fa"></i>
            </div>
        {% endif %}
    {% endblock %}

    {% block content %}
        <div>
            {{ node }}
        </div>
    {% endblock %}
</div>