{% block tree %}
    <ol class="js-umbrella-tree mjs-nestedSortable-branch {{ class }}">
        {% for node in tree.results %}
            {{ block('node') }}
        {% endfor %}
    </ol>
{% endblock %}

{% block node %}
    <li data-id="{{ node.id }}">
        {% include(tree.templateRow) %}

        {% if node | length > 0 %}
            <ol>
                {% for node in node %}
                    {{ block('node') }}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endblock %}