.umbrella-toolbar {
  @extend .row;

  ul.umbrella-actions {
    float: left;
    @extend .list-unstyled;

    li {
      display: inline-block;
    }
  }
  
  form {
    margin-bottom: 20px;
    float: right;
  }
}